# Synthetic JWKS cassette for Stage 12 H#3.2.
# RSA public JWKs were generated with cryptography; only public components are committed.
interactions:
  - request:
      method: GET
      uri: https://login.microsoftonline.com/stage12-tenant/discovery/v2.0/keys
    response:
      status:
        code: 200
      headers:
        content-type: application/json
      body:
        string: |
          {"keys":[{"alg":"RS256","e":"AQAB","kid":"key-001","kty":"RSA","n":"n3xj-6wfsr4gsoxj0OI3bYF23F3uWymXz-hQXaWv32iGoMNqfgD_jE4eVM2Iyh558gc7VoahNQj1oOBG85TgsPydPFqK3h17NMFx2qeec5t0u6GZ5Bw1zKFI-oQkH3b5wWpt7l83Cy26VOxc_YgBUNs0387dSCZVcI0F06rik8zmdkBD275oTvh4HB14l4m2lA-kZRhkdCjL-nHxb44K5RTvKlu2GlpHLAhydXAlAJ-1K8sQoGiYb7YnXbrsfX5DLf2uDrlJZaMF-F7IPP1nIjNWyL9OcdgQw8v8Dx-st_VZOPOmV54o_aF-mpioqAANq08fc_NVHipUsdu05jXDkQ","use":"sig"},{"alg":"RS256","e":"AQAB","kid":"key-002","kty":"RSA","n":"2RB506g7qzYlKIsIx93nllsgOVbksBe_Nh53EC4XceS3__mDH-i6-52qqfxn2zgduh4VOFQMY5IQohh5xwIYIPYV4HhIMawE4lS5EZuYcAIcP6ixOwVPtuNLQlzkNbvbT77xCs_a1acrr8flXdnu8xIob39kwGH7Dz-_TVrTaKCNWm5x_wjBZShRwnVVmNPrxJTt-sH30QecDbr7qStKUbdFNX7ghiKCUG06IE9Mptn7_vCYqo_ReAyCiysPjmdSpHA6eOVSnHguQgA_YGkuXOt0vSmLC-8pa14MNiaKsX-b4T35UJwCAqYHq7sqsFVT6RCSYIz_fgSD4fBrQEZ96Q","use":"sig"}]}
