# Synthetic Entra-shaped OIDC discovery cassette for Stage 12 H#3.2.
# Contains no live tenant data and no secrets.
interactions:
  - request:
      method: GET
      uri: https://login.microsoftonline.com/stage12-tenant/v2.0/.well-known/openid-configuration
    response:
      status:
        code: 200
      headers:
        content-type: application/json
      body:
        string: |
          {"issuer":"https://login.microsoftonline.com/stage12-tenant/v2.0","jwks_uri":"https://login.microsoftonline.com/stage12-tenant/discovery/v2.0/keys","id_token_signing_alg_values_supported":["RS256"],"token_endpoint":"https://login.microsoftonline.com/stage12-tenant/oauth2/v2.0/token"}
